.filter-container {
  margin-bottom: 50px;
  padding-left: 70px;
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
}

select {
  background-color: #ffffff;
  padding: 5px 10px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 30px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  padding: 20px;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-delete-icon {
  position: absolute;
  width: 30px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.product-image {
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
}

.product-title {
  color: #333;
  margin: 10px 0;
  font-size: 1.5rem;
  text-align: center;
}

.card p {
  color: #666;
  margin-bottom: 8px;
  line-height: 1.4;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discount-text {
  color: green;
}

.card-price-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card .final-price {
  color: #007bff;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 601px) and (max-width: 991px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .filter-container {
    margin-bottom: 50px;
    padding: 0px;
    text-align: center;
  }

  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
    padding: 10px;
  }

  .card h3 {
    font-size: 1.1rem;
  }

  .card p {
    font-size: 0.8rem;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .card-delete-icon {
    width: 25px;
  }
}

@media (max-width: 400px) {
  .card-delete-icon {
    width: 20px;
  }
}
