* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #e4e8eb 100%);
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #28a745;
  color: white;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #218838;
}

.btn-secondary {
  background-color: #2c83e7;
  color: white;
}

.btn-secondary:hover {
  background-color: #1e6bb8;
}

.main-heading {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 50px 0 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 20px; */
  padding: 25px 10px;
  background-color: #0a2647;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-item {
  font-size: 1.2rem;
  color: #fff;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-item a:hover {
  color: #ababab;
}

.nav-login-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-login-container li a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-login-container li a:hover {
  color: #ababab;
}

.nav-login-container li img {
  width: 20px;
  filter: brightness(0.8) invert(1);
}

.user-icon-container {
  width: 25px;
  display: none;
}

.user-icon-container img {
  width: 100%;
  filter: brightness(0.8) invert(1);
  display: block;
}

.login-link {
  text-align: center;
  /* display: flex; */
  /* flex-direction: row;      This won't work here because we are using display:block to show login info*/
  line-height: 35px;
  padding: 16px;
  background-color: #103d70;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.3s ease-in-out;
}

/*---IMP---*/
.hidden-login-link {
  top: -90px;
  display: none;
}

.login-link a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.login-link a:hover {
  color: #ababab;
}

footer {
  padding: 10px;
  background-color: #0a2647;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.footer-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.footer-content img {
  width: 35px;
  filter: invert(1);
  transition: all 0.3s ease-in-out;
}

.footer-content:hover img {
  box-shadow: 0 0 10px #333333;
  border-radius: 50%;
}

@media (min-width: 601px) {
  .show-login-link {
    top: 0px;
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav-list {
    gap: 20px;
  }

  .nav-item {
    font-size: 1rem;
    color: #fff;
  }

  .nav-login-container {
    display: none;
  }

  .user-icon-container {
    display: block;
  }

  .show-login-link {
    top: 0px;
    display: block;
  }

  .footer-content a {
    gap: 10px;
    font-size: 0.9rem;
  }

  .footer-content img {
    width: 30px;
  }
}
